{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="user-scalable=yes, width=1920px, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="{% static 'css/static.css' %}">
    <script src="/static/js/SiteScripts/jquery-3.5.1.js"></script>
    <script src="/static/js/apexcharts/apexcharts.js"></script>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/SiteScripts/jquery-3.5.1.js' %}"></script>
    <title>Rooppur Document Management System</title>

    <style>
        body {
            display: flex;
            flex-direction: column;
            padding-bottom: 80px;
            position: relative;
            background: transparent;
        }

        body::before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url("{% static 'bg.jpg' %}");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            opacity: 0.2;   /* 👈 transparency control */
            z-index: -1;     /* send behind everything */
            pointer-events: none;
        }

        .navbar-nav .nav-item:hover .nav-link:hover{
                color: #ffffff !important;
                background-color: #000000 !important;
            }

        .active { background-color: black; }

        .table-wrapper {
            max-height: 100%;
            overflow-y: scroll;
        }

        main
        {
            flex: 1; /* pushes footer down */
            padding-bottom: 70px;
        }

        footer
        {
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            z-index: 1030; /* keep footer above everything */
            height: 50px;  /* fixed height for padding calculation */
        }

    </style>

</head>

<body>

    <main>
        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-dark border-bottom py-3" style="background-color: #000033">
                <div class="collapse navbar-collapse" style="margin-left: 30%">
                    <ul class="navbar-nav mr-auto">
                        {% if not request.user.is_anonymous %}

                            <div class="dropdown" style="float:left;">
                                <li class="nav-item">
                                    <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" style="font-weight: bold">
                                        Event Management
                                    </button>
                                    <div class="dropdown-menu" style="font-size: 14px; text-align: center; background-color: #d3d9df">
                                        <a class="dropdown-item" href=" ">Dashboard</a>
                                        <div class="dropdown-divider"></div>
                                        {% if request.user.profile.access_level < 7 %}
                                            <a class="dropdown-item" href="/event/event_list">Event List</a>
                                            <div class="dropdown-divider"></div>
                                        {% endif %}
                                        <a class="dropdown-item" href="/event/my_event">My Uploaded Event</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/event/add_event">Add Event</a>
                                    </div>
                                </li>
                            </div>

                            <div class="dropdown" style="float:left;">
                                <li class="nav-item">
                                    {% if request.user.profile.access_level != 50 %}
                                    <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" style="font-weight: bold">
                                        Assigned Event
                                    </button>
                                        <div class="dropdown-menu" style="font-size: 14px; text-align: center; background-color: #d3d9df">
                                            <a class="dropdown-item" href="/event/assigned?role=supervisor">As Supervisor</a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item" href="/event/assigned?role=executor">As Executor</a>
                                        </div>
                                    {% endif %}
                                </li>
                            </div>

                            {% if request.user.is_superuser %}

                                <div class="dropdown" style="float:left;">
                                    <li class="nav-item">
                                        {% if not request.user.is_anonymous %}
                                        <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" style="font-weight: bold">
                                            System Log
                                        </button>
                                            <div class="dropdown-menu" style="font-size: 14px; text-align: center; background-color: #d3d9df">
                                                <a class="dropdown-item" href="/system_log/login_log">Login Log</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="/system_log/failed_login_log">Failed Login Log</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="/system_log/deactivated_user_log">Deactivated User Log</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="/system_log/password_change_log">Password Change Log</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="/system_log/event_edit_log">Event Edit Log</a>
                                            </div>
                                        {% endif %}
                                    </li>
                                </div>

                                <li class="nav-item">
                                    <a class="nav-link" href="/manpower/user/all" style="color:#ffffff"><b>All Users</b></a>
                                </li>
                            {% endif %}

                        {% endif %}

                    </ul>
                </div>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-md-auto">
                        <div class="dropdown" style="float:left;">
                            <li class="nav-item">
                                {% if not request.user.is_anonymous %}
                                <button type="button" class="btn btn-outline-light dropdown-toggle" data-toggle="dropdown" style="font-weight: bold">
                                    {{ request.user }}
                                </button>
                                    <div class="dropdown-menu" style="font-size: 14px; text-align: center; background-color: #d3d9df">
                                        <a class="dropdown-item" href="/manpower/user/profile">User Details</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/manpower/user/change_password">Change Password</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="/logout">Logout</a>
                                    </div>
                                {% endif %}
                            </li>
                        </div>
                    </ul>
                </div>
            </nav>

        </div>

        <div style="height:100px;">
            {% if not request.user.is_anonymous %}
                {% block chart %}
                    {% if request.path == '/' %}
                        <div class="row">

                        <!-- for category wise event chart -->
                            <div class="col-6">
                                <h4 style="margin-left: 5%; padding-top: 1%">Category wise Event</h4><br>
                                <div id="pie_chart" style="width: 80%">
                                </div>

                                <script>
                                  var options = {
                                    series: [
                                      {{ a_type_event|default:0 }},
                                      {{ b_type_event|default:0 }},
                                      {{ c_type_event|default:0 }}
                                    ],
                                    labels: ['A Category', 'B Category', 'C Category'],
                                    chart: {
                                      height: 350,
                                      type: 'donut'
                                    },
                                    responsive: [{
                                      breakpoint: 480,
                                      options: {
                                        chart: {
                                          width: 200
                                        },
                                        legend: {
                                          position: 'bottom'
                                        }
                                      }
                                    }]
                                    };

                                  var chart = new ApexCharts(
                                    document.querySelector("#pie_chart"),
                                    options
                                  );
                                  chart.render();
                                </script>

                            </div>

                        <!-- for year-month wise event chart -->
                            <div class="col-6">
                                <h4 style="margin-left: 5%; padding-top: 1%">Month wise Event</h4><br>

                                <div style="padding-top: 2%">
                                    <form action="" method="post" id="year_filter_form">
                                        <table class="table table-hover table-borderless table-sm table-active" style="width: 50%; margin-left: 5%;">

                                            <tr style="text-align: center">
                                                {% csrf_token %}
                                                {% for field in form %}
                                                    <td>
                                                        {{ field.label_tag }}
                                                    </td>
                                                    <td>
                                                        {{ field }}
                                                    </td>
                                                    <td>
                                                        <input class="btn btn-info" type="submit" value="Search">
                                                    </td>
                                                {% endfor %}
                                            </tr>
                                        </table>
                                    </form>

                                </div>

                                <div id="line_chart" style="width: 80%">
                                </div>

                                <script>

                                  var options = {
                                    chart: {
                                      type: 'line',
                                      height: 350
                                    },
                                    series: [{
                                      name: 'Events',
                                      data: {{ data|safe }}  // e.g., [5, 10, 3, ...]
                                    }],
                                    xaxis: {
                                      categories: {{ labels|safe }}  // e.g., ['Jan', 'Feb', 'Mar', ...]
                                    },
                                    stroke: {
                                      curve: 'smooth'
                                    },
                                    markers: {
                                      size: 5
                                    },
                                    tooltip: {
                                      enabled: true
                                    },
                                  };

                                  var chart = new ApexCharts(document.querySelector("#line_chart"), options);
                                  chart.render();

                                </script>

                            </div>
                        </div>

                    {% endif %}

                {% endblock %}

                {% block content %}

                {% endblock %}

                {% block doc_list %}

                {% endblock %}

                {% block upload_document %}

                {% endblock %}

                {% block edit_document %}

                {% endblock %}

                {% block changed_document_log %}

                {% endblock %}

                {%  block archived_document %}

                {%  endblock %}

                {%  block document_change_log %}

                {%  endblock %}

                {%  block document_request %}

                {%  endblock %}

                {% block all_users %}

                {% endblock %}

                {% block user %}

                {% endblock %}

                <br><br>

            {% else %}

                {% block userlogin %}

                {% endblock %}

                {% block signup %}

                {% endblock %}

                {% block homepage %}

                {% endblock %}

                <br><br>

            {% endif %}


        </div>

    </main>

    <footer class="text-light d-flex align-items-center justify-content-center py-3" style="background-color: #000033; font-weight: bold">
            <p>
                &copy; {{ now|date:"Y" }} Rooppur Operating Experience Feedback (ROEF). All Rights Reserved.
            </p>
    </footer>

</body>

<script type="text/javascript">
   $('.nav-link').click(function() {
        $(".active").removeClass("active");
        $($(this).attr('href')).addClass("active");
    });
</script>

</html>
