{% extends 'base.html' %}

{% block content %}

    <div>
        <link href="/static/css/selectize.css" rel="stylesheet"/>
        <script src="/static/js/jquery-3.5.1.min.js"></script>
        <script src="/static/js/task_manager.js"></script>
        <script src="/static/js/selectize.js"></script>

        {% if success %}
            <script>
                alert("{{ success }}");
                window.opener.location.reload();
                window.close();
            </script>
        {% endif %}

        {% if error %}
            <script>
                alert("{{ error }}");
                window.opener.location.reload();
                window.close();
            </script>
        {% endif %}

        <form action="" method="post" id="document_form" enctype="multipart/form-data">
            {% csrf_token %}

            <fieldset>

                <div>
                    <h3 style="text-align: center; padding-top: 1%; padding-bottom: 1%">Upload Event</h3>

                    <div class="outer-wrapper">
                        <div>
                            <table class="table table-sm table-bordered" style="width: 60%; margin: 0 auto">

                                {% for field in form %}
                                    <tr class="table-active table-sm" style="text-align: center; width: 40%">

                                        <td><b> {{ field.label_tag }} </b></td>
                                        <td> {{ field }} </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div id="dialog"
                         style=" z-index: 100; display: none; float: right; right: 1%; position: sticky; bottom:15%">
                        <div>
                            <input type="button" onclick="document.getElementById('dialog').style.display='none'"
                                    style="float: right" value="X"></input>
                        </div>
                        <div>
                        <textarea id="details" style="font-size: 9pt" rows="10" cols="40" white-space: pre-wrap;>
                                </textarea>
                        </div>
                    </div>

                    <br>

                    <input style="margin-left: 50%" class="btn btn-lg btn-info" type="submit" name="action" value="Save as Draft"> <br><br>
                    <input style="margin-left: 50%" class="btn btn-lg btn-danger" type="submit" name="action" value="Submit Event">

                    <br><br>

                </div>
            </fieldset>
        </form>

        <script>
            $(document).ready(function () {

                $('#id_unit').selectize({
                    sortField: 'text'
                });
                $('#id_unit')[0].selectize.$control.css('width', '40%');

                $('#id_facility').selectize({
                    sortField: 'text'
                });
                $('#id_facility')[0].selectize.$control.css('width', '40%');

                $('#id_event_category').selectize({
                    sortField: 'text'
                });
                $('#id_event_category')[0].selectize.$control.css('width', '40%');

                $('#id_responsible_dept').selectize({
                    sortField: 'text'
                });
                $('#id_responsible_dept')[0].selectize.$control.css('width', '40%');

                $('#id_plant_status').selectize({
                    sortField: 'text'
                });
                $('#id_plant_status')[0].selectize.$control.css('width', '40%');

                $('#id_information_source').selectize({
                    sortField: 'text'
                });
                $('#id_information_source')[0].selectize.$control.css('width', '40%');

                $('#id_supervisor').selectize({
                    sortField: 'text'
                });
                $('#id_supervisor')[0].selectize.$control.css('width', '40%');

                $('#id_executor').selectize({
                    sortField: 'text'
                });
                $('#id_executor')[0].selectize.$control.css('width', '40%');
            });
        </script>
    </div>

{% endblock %}