{% extends 'base.html' %}
{% load static %}
{% load document_templatetags %}
{% block content %}

    <script src="{% static 'js/SiteScripts/search_results.js' %}"></script>
    <script src="/static/js/task_manager.js"></script>

    <style>
        th {
            white-space: normal !important;
            word-wrap: break-word !important;
            font-size: 12px;
            vertical-align: middle;
            text-align: center;
        }
        td {
            word-wrap: break-word;
            font-size: 12px;
            vertical-align: middle;
        }
    </style>

    <div>
        <table class="table table-hover table-bordered table-active" style="width: 25%; margin: 0 auto">

            <tr style="text-align: center;">
                <th>Total Event</th>
            </tr>

            <tr style="text-align: center; font-weight: bold">
                <td>{{ total_event_count }}</td>
            </tr>
        </table>

    </div>

    <div>
        <div style="padding-top: 2%">
            <form action="" method="get" id="document_search_form">
                <table class="table table-hover table-bordered table-sm table-active" style="width: 50%; margin: 0 auto;">
                    <tr style="text-align: center;" class="table-info">
                        <th style="width: 5%"></th>
                        <th style="width: 5%">Event Category</th>
                        <th style="width: 5%">Facility</th>
                        <th style="width: 5%">Description</th>
                    </tr>

                    <tr style="text-align: center">
                        {% csrf_token %}
                        <td>
                            <input class="btn btn-info" type="submit" value="Search">
                        </td>
                        {% for field in form %}
                            <td>
                                {{ field }}
                            </td>
                        {% endfor %}
                    </tr>
                </table>
            </form>

        </div>

        <br><br>

        {% if event_list %}
         <div>
             <div style="padding: 2%">
                <table class="table table-hover table-bordered table-active" style="table-layout: fixed; width: 100%">
                    <tr class="table-success" style="text-align: center;">
                        <th style="width:3%">Sl. No</th>
                        <th>Event No</th>
                        <th>Description</th>
                        <th>Event Date</th>
                        <th>Responsible Department</th>
                        <th>Reporter</th>
                        <th>Registration Date</th>
                        <th>Reporter Shop</th>
                        <th>Reporter Organization</th>
                        <th>Reporter Designation</th>
                        <th>Reporter Phone</th>
                        <th>Documents</th>
                        <th>Approval Status</th>
                        <th>Approved/Rejected by</th>
                        <th>Approval Date</th>
                        <th>Resolve Status</th>
                        <th>Resolved by</th>
                    </tr>

                    {% for event in event_list %}
                    <tr style="text-align: center">
                        <td>{{ forloop.counter }}</td>
                        <td><a href="/event/event_details/{{ event.id }}" class="btn btn-sm btn-outline-primary" target="_blank">E00000{{ event.id }}</a></td>
                        <td>{{ event.description }}</td>
                        <td>{{ event.event_date }}</td>
                        <td>{{ event.responsible_dept }}</td>
                        <td>{{ event.uploaded_by }}</td>
                        <td>{{ event.uploaded_date }}</td>
                        <td>{{ event.uploader_shop }}</td>
                        <td>{{ event.uploader_organization }}</td>
                        <td>{{ event.uploader_designation }}</td>
                        <td>{{ event.uploader_phone }}</td>
                        <td>
                            {% if event.supporting_file_1 %}
                                <a href="{% url 'event_view' 'view' event.id 1 %}" target="_blank">{{ event.supporting_file_1.name|file_basename }}</a><br>
                            {% endif %}
                            {% if event.supporting_file_2 %}
                                <a href="{% url 'event_view' 'view' event.id 2 %}" target="_blank">{{ event.supporting_file_2.name|file_basename }}</a><br>
                            {% endif %}
                            {% if event.supporting_file_3 %}
                                <a href="{% url 'event_view' 'view' event.id 3 %}" target="_blank">{{ event.supporting_file_3.name|file_basename }}</a><br>
                            {% endif %}
                        </td>
                        {% if event.approval_status == 0 %}
                            <td style="font-weight: bold">Pending</td>
                        {% elif event.approval_status == 1 %}
                            <td style="color: green; font-weight: bold">Approved</td>
                        {% else %}
                            <td  style="color: darkred; font-weight: bold">Rejected</td>
                        {% endif %}
                        {% if event.approved_by %}
                            <td>{{ event.approved_by }}</td>
                            <td>{{ event.approval_date }}</td>
                        {% else %}
                            <td>Not yet approved</td>
                            <td>Not yet approved</td>
                        {% endif %}
                        {% if event.resolution_status %}
                            <td>{{ event.resolution_status }}</td>
                            <td>{{ event.resolved_by }}</td>
                        {% else %}
                            <td>Not yet resolved</td>
                            <td>Not yet resolved</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>

             <div id="pagination_div">
                            {% if event_list.has_other_pages %}
                                <ul class="paginator">

                                    <span>Page: </span>
                                    {% for i in event_list.paginator.page_range %}
                                        {% if doc_list.number == i %}
                                            <span class="this-page">{{ i }} <span
                                                    class="sr-only">(current)</span></span>
                                        {% else %}
                                            <a href="javascript:next_page_report('{{ i }}')">{{ i }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                 </div>
             </div>
         </div>

        {% else %}
            <h2 style="text-align:center; color:red">No Event Available</h2>
        {% endif %}

        <br> <br>
    </div>

{% endblock %}