{% extends 'base.html' %}
{% load static %}
{% load document_templatetags %}
{% block content %}

    <script src="{% static 'js/SiteScripts/search_results.js' %}"></script>
    <script src="/static/js/task_manager.js"></script>

    <style>
        th {
            white-space: normal !important;
            word-wrap: break-word !important;
            font-size: 12px;
            vertical-align: middle;
            text-align: center;
        }
        td {
            word-wrap: break-word;
            font-size: 12px;
            vertical-align: middle;
        }
    </style>

    <div>
        <table class="table table-hover table-bordered table-active" style="width: 25%; margin: 0 auto">

            <tr style="text-align: center;">
                <th>Total Event</th>
            </tr>

            <tr style="text-align: center; font-weight: bold">
                <td>{{ total_event_count }}</td>
            </tr>
        </table>

    </div>

    <div>
        <div style="padding-top: 2%">
            <form action="" method="get" id="document_search_form">
                <table class="table table-hover table-bordered table-sm table-active" style="width: 50%; margin: 0 auto;">
                    <tr style="text-align: center;" class="table-info">
                        <th style="width: 5%"></th>
                        <th style="width: 5%">Event Category</th>
                        <th style="width: 5%">Facility</th>
                        <th style="width: 5%">Description</th>
                    </tr>

                    <tr style="text-align: center">
                        {% csrf_token %}
                        <td>
                            <input class="btn btn-info" type="submit" value="Search">
                        </td>
                        {% for field in form %}
                            <td>
                                {{ field }}
                            </td>
                        {% endfor %}
                    </tr>
                </table>
            </form>

        </div>

        <br><br>

        {% if event_list %}
         <div>
             <div style="padding: 2%">
                <table class="table table-hover table-bordered table-active" style="table-layout: fixed; width: 100%">
                    <tr class="table-success" style="text-align: center;">
                        <th style="width:3%">Sl. No</th>
                        <th>Unit</th>
                        <th>Facility</th>
                        <th>Elavation</th>
                        <th>Room No</th>
                        <th>Additional Location Info</th>
                        <th>Event Date</th>
                        <th>Event Time</th>
                        <th>Event Category</th>
                        <th>Safety Importance</th>
                        <th>Comment for Safety</th>
                        <th>Description</th>
                        <th>Direct Cause</th>
                        <th>Action Taken</th>
                        <th>Action Details</th>
                        <th>Elimination Suggestion</th>
                        <th>Responsible Department</th>
                        <th>Plant Status</th>
                        <th>Reporter</th>
                        <th>Report Date</th>
                        <th>Reporter Shop</th>
                        <th>Reporter Organization</th>
                        <th>Reporter Designation</th>
                        <th>Reporter Phone</th>
                        <th>Reporter Bio ID</th>
                        <th>Information Source</th>
                        <th>Identity Confidentiality</th>
                    </tr>

                    {% for event in event_list %}
                    <tr style="text-align: center">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ event.unit }}</td>
                        <td>{{ event.facility }}</td>
                        <td>{{ event.elevation }}</td>
                        <td>{{ event.room_no }}</td>
                        <td>{{ event.additional_location_info }}</td>
                        <td>{{ event.event_date }}</td>
                        <td>{{ event.event_time }}</td>
                        <td>{{ event.event_category }}</td>
                        <td>{% if event.safety_importance %} Yes {% else %} No {% endif %}</td>
                        <td>{{ event.comment_if_safety_importance }}</td>
                        <td>{{ event.description }}</td>
                        <td>{{ event.direct_cause }}</td>
                        <td>{% if event.action_taken %} Yes {% else %} No {% endif %}
                        </td>
                        <td>{{ event.comment_if_action_taken }}</td>
                        <td>{{ event.elimination_suggestion }}</td>
                        <td>{{ event.responsible_dept }}</td>
                        <td>{{ event.plant_status }}</td>
                        <td>{{ event.uploaded_by }}</td>
                        <td>{{ event.uploaded_date }}</td>
                        <td>{{ event.uploader_shop }}</td>
                        <td>{{ event.uploader_organization }}</td>
                        <td>{{ event.uploader_designation }}</td>
                        <td>{{ event.uploader_phone }}</td>
                        <td>{{ event.uploader_bioID }}</td>
                        <td>{{ event.information_source }}</td>
                        <td>{% if event.keep_identity_confidential %} Yes {% else %} No {% endif %}</td>
                    </tr>
                    {% endfor %}
                </table>

             <div id="pagination_div">
                            {% if event_list.has_other_pages %}
                                <ul class="paginator">

                                    <span>Page: </span>
                                    {% for i in event_list.paginator.page_range %}
                                        {% if doc_list.number == i %}
                                            <span class="this-page">{{ i }} <span
                                                    class="sr-only">(current)</span></span>
                                        {% else %}
                                            <a href="javascript:next_page_report('{{ i }}')">{{ i }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                 </div>
             </div>
         </div>

        {% else %}
            <h2 style="text-align:center; color:red">No Event Available</h2>
        {% endif %}

        <br> <br>
    </div>

{% endblock %}