{% extends 'base.html' %}
{% load static %}
{% load document_templatetags %}
{% block content %}

    <script src="{% static 'js/SiteScripts/search_results.js' %}"></script>
    <script src="/static/js/task_manager.js"></script>

    <style>
        th {
            white-space: normal !important;
            word-wrap: break-word !important;
            font-size: 12px;
            vertical-align: middle;
            text-align: center;
        }
        td {
            word-wrap: break-word;
            font-size: 12px;
            vertical-align: middle;
        }
    </style>

    {% if success %}
        <script>
            alert("Event {{ event.id }} has been modified successfully");
            window.opener.location.reload();
            window.close();
        </script>
    {% endif %}

    {% if error %}
        <script>
            alert("ERROR! Please insert valid data");
            window.opener.location.reload();
            window.close();
        </script>
    {% endif %}

    <div>

        {% if event %}
            <h3 style="text-align: center; padding-top: 1%">Event Details</h3>
         <div>
             <div style="padding: 1%">
                <table class="table table-hover table-bordered table-secondary" style="table-layout: fixed; width: 60%; margin: 0 auto; text-align: center">
                    <tr>
                        <th>Event No</th>
                        <td>E00000{{ event.id }}</td>
                    </tr>
                    <tr>
                        <th>Unit</th>
                        <td>{{ event.get_unit_display }}</td>
                    </tr>
                    <tr>
                        <th>Facility</th>
                        <td>{{ event.facility }}</td>
                    </tr>
                    <tr>
                        <th>Elavation</th>
                        <td>{{ event.elevation }}</td>
                    </tr>
                    <tr>
                        <th>Room No</th></th>
                        <td>{{ event.room_no }}</td>
                    </tr>
                    <tr>
                        <th>Additional Location Info</th>
                        <td>{{ event.additional_location_info }}</td>
                    </tr>
                    <tr>
                        <th>Event Date</th>
                        <td>{{ event.event_date }}</td>
                    </tr>
                    <tr><th>Event Time</th>
                        <td>{{ event.event_time }}</td>
                    </tr>
                    <tr>
                        <th>Event Category</th>
                        <td>{{ event.event_category }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ event.description }}</td>
                    </tr>
                    <tr>
                        <th>Registration Date</th>
                        <td>{{ event.uploaded_date }}</td>
                    </tr>
                    <tr>
                        <th>Regulatory Norms Violation</th>
                        <td>{{ event.regulatory_norms_violation }}</td>
                    </tr>
                    <tr>
                        <th>Direct Cause</th>
                        <td>{{ event.direct_cause }}</td>
                    </tr>
                    <tr>
                        <th>Steps to Resolve</th>
                        <td>{{ event.action_taken }}</td>
                    </tr>
                    <tr>
                        <th>Action to Prevent Recurrence Event</th>
                        <td>{{ event.action_to_prevent_recurrence_event }}</td>
                    </tr>
                    <tr>
                        <th>Elimination Suggestion</th>
                        <td>{{ event.elimination_suggestion }}</td>
                    </tr>
                    <tr>
                        <th>Rersponsible Department</th>
                        <td>{{ event.responsible_dept }}</td>
                    </tr>
                    <tr>
                        <th>Plant Status</th>
                        <td>{{ event.plant_status }}</td>
                    </tr>
                    {% if event.keep_identity_confidential %}
                        <tr>
                            <th>Reporter</th>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <th>Reporter Shop</th>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <th>Reporter Organization</th>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <th>Reporter Designation</th>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <th>Reporter Phone</th>
                            <td>NA</td>
                        </tr>
                        <tr>
                            <th>Reporter Bio ID</th>
                            <td>NA</td>
                        </tr>
                    {% else %}
                        <tr>
                            <th>Reporter</th>
                            <td>{{ event.uploaded_by }}</td>
                        </tr>
                        <tr>
                            <th>Reporter Shop</th>
                            <td>{{ event.uploader_shop }}</td>
                        </tr>
                        <tr>
                            <th>Reporter Organization</th>
                            <td>{{ event.uploader_organization }}</td>
                        </tr>
                        <tr>
                            <th>Reporter Designation</th>
                            <td>{{ event.uploader_designation }}</td>
                        </tr>
                        <tr>
                            <th>Reporter Phone</th>
                            <td>{{ event.uploader_phone }}</td>
                        </tr>
                        <tr>
                            <th>Reporter Bio ID</th>
                            <td>{{ event.uploader_bioID }}</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <th>Information Source</th>
                        <td>{{ event.information_source }}</td>
                    </tr>
                    <tr>
                        <th>Identity Confidentiality</th>
                        <td>{% if event.keep_identity_confidential %} <span style="color:red">Yes</span> {% else %} No {% endif %}</td>
                    </tr>
                    <tr>
                        <th>Documents</th>
                        <td>
                            {% if event.supporting_file_1 %}
                                <a href="{% url 'event_view' 'view' event.id 1 %}" target="_blank">{{ event.supporting_file_1.name|file_basename }}</a><br>
                            {% endif %}
                            {% if event.supporting_file_2 %}
                                <a href="{% url 'event_view' 'view' event.id 2 %}" target="_blank">{{ event.supporting_file_2.name|file_basename }}</a><br>
                            {% endif %}
                            {% if event.supporting_file_3 %}
                                <a href="{% url 'event_view' 'view' event.id 3 %}" target="_blank">{{ event.supporting_file_3.name|file_basename }}</a><br>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>Supervisors</th>
                        <td>
                            {% for each in event.supervisor_list %}
                                {{ each.first_name }} {{ each.last_name }}
                                ({{ each.username }})<br>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th>Executors</th>
                        <td>
                            {% for each in event.executor_list %}
                                {{ each.first_name }} {{ each.last_name }}
                                ({{ each.username }})<br>
                            {% endfor %}
                        </td>
                    </tr>

                    {% if event.resolution_status %}
                        <tr>
                            <th>Resolve Status</th>
                            <td style="color: green; font-weight: bold">{{ event.get_resolution_status_display }}</td>
                        </tr>
                        <tr>
                            <th>Resolved by</th>
                            <td>{{ event.resolved_by }}</td>
                        </tr>
                        <tr>
                            <th>Resolved Date</th>
                            <td>{{ event.resolved_date }}</td>
                        </tr>
                        <tr>
                            <th>Resolver Remarks</th>
                            <td>{{ event.resolver_remarks }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <th>Resolve Status</th>
                            <td>Not yet Approved</td>
                        </tr>
                    {% endif %}

                    <tr>
                        <th>Event Approval</th>
                        <td>
                            <a style="margin-right: 50%" href="/event/approval/{{ event.id }}?action=reject" class="btn btn-outline-danger" target="_blank">Reject</a>
                            <a href="/event/approval/{{ event.id }}?action=approve" class="btn btn-outline-success" target="_blank">Approve</a>
                        </td>
                    </tr>
                    <tr>
                        <th>Event Action</th>
                        <td>
                            <a style="margin-right: 40%" href="/event/edit/{{ event.id }}" class="btn btn-primary" target="_blank">Edit Event</a>
                            <a href="/event/resolution/{{ event.id }}" class="btn btn-info" target="_blank">Event Resolution</a>
                        </td>
                    </tr>

                </table>

                <div id="pagination_div">
                    {% if event_list.has_other_pages %}
                        <ul class="paginator">

                            <span>Page: </span>
                            {% for i in event_list.paginator.page_range %}
                                {% if doc_list.number == i %}
                                    <span class="this-page">{{ i }} <span
                                            class="sr-only">(current)</span></span>
                                {% else %}
                                    <a href="javascript:next_page_report('{{ i }}')">{{ i }}</a>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                 </div>
             </div>
         </div>

        {% else %}
            <h2 style="text-align:center; color:red">No Event Available</h2>
        {% endif %}

        <br> <br>
    </div>

{% endblock %}