{% extends 'base.html' %}
{% load static %}
{% load document_templatetags %}
{% block content %}

    <link href="/static/css/selectize.css" rel="stylesheet"/>
    <script src="/static/js/selectize.js"></script>
    <script src="{% static 'js/SiteScripts/search_results.js' %}"></script>
    <script src="/static/js/task_manager.js"></script>

    <style>
        th {
            white-space: normal !important;
            word-wrap: break-word !important;
            font-size: 14px;
            vertical-align: middle;
            text-align: center;
        }
        td {
            word-wrap: break-word;
            font-size: 14px;
            vertical-align: middle;
        }
    </style>

    <div>
        <table class="table table-hover table-bordered table-active" style="width: 25%; margin: 0 auto">

            <tr style="text-align: center;">
                <th>Total Good Practice</th>
            </tr>

            <tr style="text-align: center; font-weight: bold">
                <td>{{ total_gp_count }}</td>
            </tr>
        </table>

    </div>

    <div>
        <div style="padding-top: 2%">
            <form action="" method="get" id="document_search_form">
                <table class="table table-hover table-bordered table-sm table-active" style="width: 50%; margin: 0 auto;">
                    <tr style="text-align: center;" class="table-info">
                        <th style="width: 5%"></th>
                        <th style="width: 5%">Name</th>
                        <th style="width: 5%">Description</th>
                        <th style="width: 5%">Reactor Type</th>
                    </tr>

                    <tr style="text-align: center">
                        {% csrf_token %}
                        <td>
                            <input class="btn btn-info" type="submit" value="Search">
                        </td>
                        {% for field in form %}
                            <td>
                                {{ field }}
                            </td>
                        {% endfor %}
                    </tr>
                </table>
            </form>

        </div>

        <br><br>

        {% if gp_list %}
         <div>
             <div style="padding: 2%">
                <table class="table table-hover table-bordered table-light" style="table-layout: fixed; width: 100%">
                    {% for gp in gp_list %}
                        <tr>
                            <h6>
                                <span title="{{ gp.description|escape }}">{{ forloop.counter }}.
                                    <b>
                                        {{ gp.name }}
                                    </b>
                                </span> <br>
                                <a href="/gp_details/{{ gp.id }}">{{ gp.description|truncatewords:75 }}</a>
                            </h6>
                            <span>
                                <b>Log Book No:</b> {{ gp.log_book_no }};
                                <b>Keywords:</b> {{ gp.keywords }};
                                <b>Reactor Type:</b> {{ gp.reactor_type }};
                            </span>
                        </tr>

                        <br><br>

                    {% endfor %}

                </table>

                <div id="pagination_div">
                            {% if gp_list.has_other_pages %}
                                <ul class="paginator">

                                    <span>Page: </span>
                                    {% for i in gp_list.paginator.page_range %}
                                        {% if gp_list.number == i %}
                                            <span class="this-page">{{ i }} <span
                                                    class="sr-only">(current)</span></span>
                                        {% else %}
                                            <a href="javascript:next_page_report('{{ i }}')">{{ i }}</a>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                 </div>
             </div>
         </div>

        {% else %}
            <h2 style="text-align:center; color:red">No Good Practice Available</h2>
        {% endif %}

        <br> <br>

        <script>
            $(document).ready(function () {

                $('#id_name').selectize({
                    sortField: 'text'
                });

                $('#id_reactor_type').selectize({
                    sortField: 'text'
                });
            });
        </script>

    </div>

{% endblock %}