{% extends 'base.html' %}

{% block content %}

    <div>
        <link href="/static/css/selectize.css" rel="stylesheet"/>
        <script src="/static/js/jquery-3.5.1.min.js"></script>
        <script src="/static/js/task_manager.js"></script>
        <script src="/static/js/selectize.js"></script>

        {% if success %}
            <script>
                alert("{{ success }}");
                window.opener.location.reload();
                window.close();
            </script>
        {% endif %}

        {% if error %}
            <script>
                alert("{{ error }}");
                window.opener.location.reload();
                window.close();
            </script>
        {% endif %}

        <form action="" method="post" id="document_form" enctype="multipart/form-data">
            {% csrf_token %}

            <fieldset>

                <div>
                    <h3 style="text-align: center; padding-top: 1%; padding-bottom: 1%">Create New Good Practice</h3>

                    <div class="outer-wrapper">
                        <div>
                            <table class="table table-sm table-bordered table-active" style="width: 60%; margin: 0 auto">

                                {% for field in form %}
                                    <tr class="table-sm" style="text-align: center; width: 40%">

                                        <td><b> {{ field.label_tag }} </b></td>
                                        <td> {{ field }} </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                    <div id="dialog"
                         style=" z-index: 100; display: none; float: right; right: 1%; position: sticky; bottom:15%">
                        <div>
                            <input type="button" onclick="document.getElementById('dialog').style.display='none'"
                                    style="float: right" value="X"></input>
                        </div>
                        <div>
                        <textarea id="details" style="font-size: 9pt" rows="10" cols="40" white-space: pre-wrap;>
                                </textarea>
                        </div>
                    </div>

                    <br>

                    <input style="margin-left: 50%" class="btn btn-lg btn-info" type="submit" name="action" value="Submit">

                    <br><br>

                </div>
            </fieldset>
        </form>

        <!-- to use selectize and to define width of selected fields -->>
        <script>
            $(document).ready(function () {
                $('#id_name').selectize({
                    sortField: 'text'
                });
                $('#id_name')[0].selectize.$control.css('width', '40%');

                $('#id_reactor_type').selectize({
                    sortField: 'text'
                });
                $('#id_reactor_type')[0].selectize.$control.css('width', '40%');

                $('#id_npp_activities').selectize({
                    sortField: 'text'
                });
                $('#id_npp_activities')[0].selectize.$control.css('width', '40%');

                $('#id_main_activities').selectize({
                    sortField: 'text'
                });
                $('#id_main_activities')[0].selectize.$control.css('width', '40%');

                $('#id_general_activities').selectize({
                    sortField: 'text'
                });
                $('#id_general_activities')[0].selectize.$control.css('width', '40%');

                $('#id_problem_elimination_specification').selectize({
                    sortField: 'text'
                });
                $('#id_problem_elimination_specification')[0].selectize.$control.css('width', '40%');

                $('#id_gp_applications').selectize({
                    sortField: 'text'
                });
                $('#id_gp_applications')[0].selectize.$control.css('width', '40%');

                $('#id_expert_assessment').selectize({
                    sortField: 'text'
                });
                $('#id_expert_assessment')[0].selectize.$control.css('width', '40%');

                $('#id_information_source').selectize({
                    sortField: 'text'
                });
                $('#id_information_source')[0].selectize.$control.css('width', '40%');

                $('#id_distribution_recommendation').selectize({
                    sortField: 'text'
                });
                $('#id_distribution_recommendation')[0].selectize.$control.css('width', '40%');

            });

        </script>

        <!-- to implement dropdown dependency -->
        <script>
            $(document).ready(function () {

                var npp = $('#id_npp_activities')[0].selectize;

                // Get table rows
                var mainRow = $('#id_main_activities').closest('tr');
                var generalRow = $('#id_general_activities').closest('tr');

                function toggleDropdowns(value) {

                    // Hide both rows (label + select together)
                    mainRow.hide();
                    generalRow.hide();

                    if (value === "1") {
                        mainRow.show();
                    }

                    if (value === "2") {
                        generalRow.show();
                    }
                }

                npp.on('change', function (value) {
                    toggleDropdowns(value);
                });

                toggleDropdowns(npp.getValue());

            });

        </script>

    </div>

{% endblock %}